<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a id="hide" class="nav-link" href="#">Hide</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Data Sets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="https://www.kaggle.com/neuromusic/avocado-prices?select=avocado.csv"
                            target="_blank">Avocado Price Data</a>
                        <a class="dropdown-item" href="https://www.eia.gov/dnav/pet/pet_pri_gnd_dcus_nus_w.htm"
                            target="_blank">Gas
                            Price Data</a>
                        <a class="dropdown-item" href="https://openweathermap.org/history" target="_blank">Weather
                            Data</a>
                        <a class="dropdown-item"
                            href="https://agtransport.usda.gov/Truck/Recent-Weekly-US-Average-Refrigerated-Truck-Rates/ux59-h6jx"
                            target="_blank">Transport Data</a>
                        <a class="dropdown-item" href="https://data.ers.usda.gov/reports.aspx?ID=17850"
                            target="_blank">Banana Price
                            Data</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div id="titleblock" class="jumbotron">
            <h1 class="display-4"><strong>Gas!</strong></h1>
            <p class="lead">Lead by our very own Alex Cole!</p>
            <hr>
            <h4 class="display-5">An in depth look at avocado prices and how gas prices may potentially drive that price.
            </h4>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12">
            <iframe width="1100px" height="600px" src="Random_Forest.html"></iframe>
        </div>
        <div class='tableauPlaceholder' id='viz1601928477138' style='position: relative'><noscript><a href='#'><img 
            alt=' ' 
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AvocadoPricingVisualization&#47;Sheet1&#47;1_rss.png' 
            style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='AvocadoPricingVisualization&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' 
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AvocadoPricingVisualization&#47;Sheet1&#47;1.png' /> 
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
        <param name='filter' value='publish=yes' /></object></div>                
    <script 
        type='text/javascript'>                    var divElement = document.getElementById('viz1601928477138');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="../../static/js/logic.js"></script>

</body>

</html>